body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background-color:  #abb2b9  ;


    overflow: hidden;
}

code 
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button_without_style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#error {
    margin: auto;
    padding: auto;
    text-align: center;
}

#container, #home_container
{
    background-color: white;
}

#home_container
{
    height: 80%;
    width: 85%;
    margin: 1px;
}

.home-div 
{
    height: 100%;
}

.shadow-left 
{
    box-shadow: -5px 5px 4px 2px rgba( 0, 0, 0, 0.2 );
}

.home-color
{
    background-color: #50ac54;
}
#main {
    position: relative;
    height: 6rem; 
  }
#bottom 
{
    position: absolute;
    bottom: 0;
    left: 0; 
}

